---
# role: ansible-role-postgresql
# file: tasks/initdb.yml

- name: "Create data_dir"
  ansible.builtin.file:
    path: "{{ postgresql_data_dir }}"
    owner: "{{ postgresql_user }}"
    group: "{{ postgresql_group }}"
    state: directory
    mode: 0700
  tags:
    - postgresql:initdb

- name: "Disable btrfs copy-on-write for postgresql_data_dir"
  ansible.builtin.file:
    path: "{{ postgresql_data_dir }}"
    attr: "+C"
  when: postgresql_on_btrfs | bool
  tags:
    - postgresql:initdb

- name: "Initialize database"
  ansible.builtin.command: "{{ postgresql_bin_path }}/initdb -D {{ postgresql_data_dir }}"
  args:
    creates: "{{ postgresql_data_dir }}/PG_VERSION"
  become: true
  become_user: "{{ postgresql_user }}"
  tags:
    - postgresql:initdb
