# Managed by ansible.
# file: {{ template_destpath }}

################################################################################
# Connection handling
################################################################################

listen_addresses = '{{ postgresql_listen_addresses | join(",") }}'
port = {{ postgresql_port }}
max_connections = {{ postgresql_max_connections }}
superuser_reserved_connections = {{ postgresql_superuser_reserved_connections }}
