{{ ansible_managed | comment }}

################################################################################
# Additional reloadable settings
################################################################################

{% for item in postgresql_config_extra_reload %}
{% set _postgresql_config_value = item.value | string | replace("'", "''") %}
{{ item.name }} = {% if item.quote | default(true) | bool %}'{{ _postgresql_config_value }}'{% else %}{{ item.value }}{% endif %}
{% endfor %}
