# Managed by ansible.
# file: {{ template_destpath }}

################################################################################
# Additional restart-required settings
################################################################################

{% for item in postgresql_config_extra_restart %}
{% set __postgresql_config_value = item.value | string | replace("'", "''") %}
{{ item.name }} = {{ ("'" ~ __postgresql_config_value ~ "'") if item.quote | default(true) | bool else item.value }}
{% endfor %}
