# {{ template_destpath }}
# vi: set ft=shell noai sw=4 tw=4 ts=4 et:
{{ ansible_managed | comment }}
#
# ===================================================
# PostgreSQL entry Authentication Configuration File
# ===================================================
#
# This file controls: which hosts are allowed to connect, how entrys
# are authenticated, which PostgreSQL user names they can use, which
# databases they can access.  Records take one of these forms:
#
# Refer to https://www.postgresql.org/docs/current/static/auth-pg-hba-conf.html
#
# TYPE  DATABASE        USER            ADDRESS                 METHOD
#
{% for entry in postgresql_hba %}
{{ entry.type }} {{ entry.database }} {{ entry.user }} {{ entry.address | default('') }} {{ entry.ip_address | default('') }} {{ entry.ip_mask | default('') }} {{ entry.auth_method }} {{ entry.auth_options | default('') }}
{% endfor %}
