# Managed by ansible.
# file: {{ template_destpath }}

# MAPNAME       SYSTEM-USERNAME         PG-USERNAME
{% for entry in postgresql_pg_ident_entries %}
{% set __postgresql_pg_ident_comment = (' # ' ~ entry.comment) if entry.comment is defined else '' %}
{{ entry.map }} {{ entry.system_user }} {{ entry.database_user }}{{ __postgresql_pg_ident_comment }}
{% endfor %}
